

<!-- To Do the view from here for the JSON FILE -->

<div class="main-wrapper">
        <div class="content" ng-repeat="rocket in launches">
        <!-- rockets headers -->
            <hgroup>
                <h2>{{rocket.mission}}</h2>
                <h3>{{rocket.vehicle}}</h3>
            </hgroup>

            <div class="body-content">
                <!-- content and rockets body should go here -->
                <small class="time-left">
                    Launch in {{rocket.launch_t.days() + ' day ' + ', ' + rocket.launch_t.hours() + ' hours ' + ', '+ rocket.launch_t.minutes() + ' minutes' }}
                </small>

                <p>{{rocket.description}}</p>

                <a ng-href="https://en.wikipedia.org/wiki/{{rocket.wiki_link}}" class="launch-site">
                    {{rocket.launch_site}}
                </a>

                <small ng-if="rocket.string_gmt_date" class="lauch-date">
                    {{rocket.string_gmt_date}}
                </small>
            </div>
        </div>
</div>